# Python
__pycache__/
*.py[cod]
*$py.class

# Dependencies
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Data
*.csv
*.txt
*.json

# Figures
*.png
*.jpg
*.svg

# Documentation
*.pdf
*.log
*.aux
*.out
*.synctex.gz
*.toc